/*  ------------------------------------------------------------------------
                                Pag Atividade Economica 
    ------------------------------------------------------------------------   */

#icon-tabela{
    display: inline;
}

#icon-grafico{
    display: none;
}

#icon-csv{
    display: inline;
}

.title{
    padding-top: 15px;
    padding-bottom: 1rem;
    border-bottom: 3px solid #e9ecef;
}

.title h2{
    text-align: left;
    color: #252525;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
}

/*=============================== Grafico 01 =================================*/

.container-grafico01{
    padding-top: 30px;
    padding-bottom: 30px; 
    margin-bottom: 5%;
}

.grafico01-item1{
    border: none;
}

.cantainer-grafico01 h3{
    text-align: left;
    color: #252525;
    font-size: 1.25em;
    font-weight: 600;
}

.cantainer-grafico01 h4{
    text-align: left;
    font-size: 1em;
}

.grafico01-tabela{
    border: none;
    align-self: center;
}

.grafico01-item2{
    border: none;
}

.grafico01-item2 p{
    text-align: justify;
    color: #252525;
    font-size: 1em;
}

/*=============================== Grafico 02 =================================*/

.container-grafico02{
    padding-top: 30px;
    padding-bottom: 30px; 
    margin-bottom: 5%;
}

.grafico02-item1{
    border: none;
    padding-top: 50px;
}

.cantainer-grafico02 h3{
    text-align: left;
    color: #252525;
    font-size: 1.25em;
    font-weight: 600;
}

.cantainer-grafico02 h4{
    text-align: left;
    font-size: 1em;
}

.grafico02-tabela{
    border: none;
    align-self: center;
}

.grafico02-item2{
    border: none;
    padding-top: 50px;
}

.grafico02-item2 p{
    text-align: justify;
    color: #252525;
    font-size: 1em;
}

/*=============================== Grafico 03 =================================*/

/*.grafico03-item1 h3{
    text-align: left;
    color: #252525;
    font-size: 1.25em;
    font-weight: 600;
}

.grafico03-item2 p{
    text-align: center;
    color: #252525;
    font-size: 1em;
}*/

.container-grafico03{
    padding-top: 30px;
    padding-bottom: 30px; 
    margin-bottom: 5%;
}

.grafico03-item1{
    border: none;
    padding-top: 50px;
}

.cantainer-grafico03 h3{
    text-align: left;
    color: #252525;
    font-size: 1.25em;
    font-weight: 600;
}

.cantainer-grafico03 h4{
    text-align: left;
    font-size: 1em;
}

.grafico03-tabela{
    border: none;
    align-self: center;
}

.grafico03-item2{
    border: none;
    padding-top: 50px;
}

.grafico03-item2 p{
    text-align: justify;
    color: #252525;
    font-size: 1em;
}
