/* Reset */

body, h1, h2, h3, p, ul {
	padding: 0px;
	margin: 0px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}


/* Menu */
header{
    font-family: 'Roboto';
    background-color: #605CA8;
    padding: 8px 80px;
}

.container-header{
    margin: 0;
    padding: 0;
}

.linha-header{
    margin: 0;
    padding: 0;   
}

.menu-nav{
    padding: 0;
}

.menu-nav ul{
    float: right;
    list-style: none;
}

.menu-nav ul li{
    display: inline-block;
    padding: 19px 12px;
}

.menu-nav ul li a {
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    color: #ecf0f5;
}

.menu-logo{
    padding: 0;
}

@media (max-width: 768px) {
    .menu-nav ul{
        float: none;
    }
    .menu-nav ul li a{
        padding-left: 0px;
        margin-left: 0px;
        text-decoration: none;
    }
}

.navbar-dropdown .hamburger-icon {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    -webkit-box-shadow: 0 -6px 0 1px #282828,0 0 0 1px #282828,0 6px 0 1px #282828;
    -moz-box-shadow: 0 -6px 0 1px #282828,0 0 0 1px #282828,0 6px 0 1px #282828;
    box-shadow: 0 -6px 0 1px #282828,0 0 0 1px #282828,0 6px 0 1px #282828; 

}


/* Main */
main{
    background: rgb(72,69,129);
}

main h1{
    text-align: start;
    color: #ecf0f5;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;

    text-align: center;
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: .2rem;
}

main div p{
    text-align: center;
    color: #ecf0f5;
    font-size: 1.25em;
    
}

.main-nav ul{
    float: right;
    list-style: none;    
    padding-left: 250px;
    justify-content: center;

   }

.main-nav ul li{
    display: inline-block;
    margin: 30px 30px 30px 0px;
/*  cima direita baixo esquerda */
}

.main-nav ul li a{
    color: #ecf0f5;
    text-decoration: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-nav ul{
        padding-left: 180px;
    }
}

@media (max-width: 991px){
    .main-nav ul{
        padding-left: 60px;
    }
}

@media (max-width: 767px){
    .main-nav ul{
        float: none;
        padding-left: 0px;
        justify-content:left;    }
}

/* Footer */
footer{
    font-family: 'Roboto';
    height: 230px;
    background-color: #484581;
    padding: 45px 0 45px 0;
}

footer .container{
    margin: 0 auto;
    padding: 0 15px;
}

.footer-logo{
    height: 62px;
}

.footer-nav{
    height: auto;
}

.footer-nav ul{
    float: right;
    list-style: none;
}

.footer-nav ul li{
    display: inline-block;
    margin: 0 12px;
}

.footer-nav ul li a {
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    color: #ecf0f5;
}

.footer-low{
    margin: 35px 0 0 5px; /*  cima direita baixo esquerda */
}

footer p{
    color: #ecf0f5;
}